@model IEnumerable<ForumWeb.Models.BaiGui>
@foreach (var item in Model)
{
    <div class="media recentblog">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Images/the-guide-to-improve-recent-post-widget-in-wordpress.jpg" alt="" />
            </a>
        </div>
        <div class="media-body">
            <a href="#"><h5 class="media-heading">@item.TenBai</h5></a>
        </div>
    </div>
}
