
@{
    ViewBag.Title = "TRANG CHỦ";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ CỦA WEBSITE DIỄN ĐÀN CÔNG NGHỆ (TECH FORUM)</h2>