@model ForumWeb.Models.LinhVuc

@{
    ViewBag.Title = "Xóa Lĩnh Vực";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
    <div style="color:Red">
        <h2>XÁC NHẬN THÔNG TIN LĨNH VỰC CẦN XÓA</h2>

        <h3>Bạn Có Thực Sự Muốn Xóa Không?</h3>
    </div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLinhVuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLinhVuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
